<h1>Orders By Size</h1>
 
 <table border="1">
<tr>
  <th>Order Numer</th>
  <th>Drink</th>
    <th>Number of Items</th>
  <th>Size</th>
  <th>Total Spend</th>
</tr>
<% if (@orderNumberarray != nil) %>
 <% @orderNumberarray.each_with_index do |name, index| %>                    
    <tr>
      <td><%= name %></td>
      <td><%= @drinkarray[index] %></td>
            <td><%= @noi[index] %></td>
      <td><%= @size_type[index] %></td>
      <td><%= @totalPricearray[index] %></td>
    </tr>
  <% end %>
  <% end %>
  </table>
   <label>
  	Total :
  	</label>
   <%= @total %><br/>
<%= link_to 'Back', welcome_index_path %>